*.tfplan
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
.vscode/
*.swp

infra/terraform/*.tfplan
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.terraform.lock.hcl
infra/terraform/crash.log
infra/terraform/*.tfvars
infra/terraform/.vscode/
infra/terraform/*.swp

infra/logs/